<form [formGroup]="registerForm">
    <div class="fields" fxLayout="column">

        <!-- User full Name -->
        <span>Full Name</span>
        <mat-form-field appearance="outline" class="form-field">
            <input matInput placeholder="Your full Name" formControlName="fullName">
            <div *ngIf="submitted" class="invalid-feedback">
                <mat-error *ngIf="checkError('fullName', 'required')">Enter full name</mat-error>
                <mat-error *ngIf="checkError('name', 'pattern')">First name Should be uppercase and should have min 3 char</mat-error>
            </div>
        </mat-form-field>

        <!-- User Email Id -->
        <span>Email Id</span>
        <mat-form-field appearance="outline" class="form-field">
            <input matInput placeholder="Your Email Id" formControlName="email">
        </mat-form-field>

        <!-- User Password -->
        <span>Password</span>
        <mat-form-field appearance="outline" class="form-field">
            <input matInput placeholder="Your Password" formControlName="password" [type]="show ? 'password' : 'text'">
            <mat-icon matSuffix (click)="show = !show">{{show ? 'visibility_off' : 'visibility'}}</mat-icon>
        </mat-form-field>

        <!-- User Mobile No. -->
        <span>Mobile No.</span>
        <mat-form-field appearance="outline" class="form-field">
            <input matInput placeholder="Your Mobile No." formControlName="mobileNumber">
        </mat-form-field>
    </div>
    <div>
        <button mat-flat-button (click)="onSubmit()">Signup</button>
    </div>

</form>